{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col">
        <h1 id="titulo-sala" class="text-center p-1">{{film.title}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-9">
        {{film.description}}
    </div>
    <div class="col">
        <img src="{% if film.photo %}{{ film.photo.url }}{% else %}{% static 'img/sala_ejemplo.jpg' %}{% endif %}"  class="w-100 p-3" alt="Sala de prueba" title="Sala de prueba">
    </div>
</div>

{% endblock %}