header {
	background-color: lightcyan;
}

header h1, header h2 {
	color: navy;
}

nav {
	background-color: paleturquoise;
	text-transform: uppercase;
}

footer {
	background-color: dimgrey;
	color: white;
}

footer a {
	color: white;
}

footer a:hover {
	color: yellow;
}
