<!DOCTYPE html>
<html lang="en">

<head>

  {% block title %}
  <title>Cines GOOGOLPLEX</title>
  {% endblock %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script href="{% static 'js/jquery-3.5.1.min.js' %}"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> -->
  <script href="{% static 'js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <header>
    <div class="container-fluid">
      <div class="row p-4">
        <div class="col-auto">
          <a href="{% url 'index' %}" title="Homepage">
            <img class="logo" src="{% static 'img/logo1.jpg' %}" alt="Cines Googolplex" title="Homepage">
          </a>
        </div>

        <div class="col p-1 text-center">
          <h1>CINES GOOGOLPLEX</h1>
          <h2>Pagina de demostración</h2>
        </div>
      </div>
    </div>
  </header>

  <nav class="navbar navbar-expand-lg navbar-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'cinema_menu' %}">Nuestros cines</a>
        </li>
        <!-- 
        <li class="nav-item dropdown show">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Cines
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Murcia</a>
            <a class="dropdown-item" href="#">Cartagena</a>
            <a class="dropdown-item" href="#">Alicante</a>
          </div>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" href="#">Peliculas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Cartelera</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Promociones</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Zona socios</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Zona comercios</a>
        </li>

      </ul>
    </div>
  </nav>

  <div class="container-fluid p-5">
    {% block content %}{% endblock %}
  </div>

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h3>Secciones</h3>
        </div>
      </div>
      <div class="row p-1">
        <div class="col"><a href="#">Arbol web</a></div>
        <div class="col"><a href="{% url 'cinema_menu' %}">Nuestros cines</a></div>
        <div class="col"><a href="#">Horarios</a></div>
        <div class="col"><a href="#">Quienes somos</a></div>
        <div class="col"><a href="#">Zona socios</a></div>
        <div class="col"><a href="#">Zona comercios</a></div>
      </div>
      <div class="row">
        <div class="col">
          <hr>Cines Googolplex &copy; - 2017-2020</div>
      </div>
    </div>
    </div>
  </footer>
</body>

</html>